// Plugins
@import './../assets/css/bootstrap.min.css';
@import './../assets/css/plugins/owl-carousel/owl.carousel.css';
@import './../assets/css/plugins/magnific-popup/magnific-popup.css';
@import './../assets/css/plugins/jquery.countdown.css';
@import './../assets/css/plugins/nouislider/nouislider.css';
// Main Styles
@import './../assets/css/style.css';
// @import './../assets/css/skins/skin-demo-8.css';
@import './../assets/css/demos/demo-8.css';
@import 'font-awesome/css/font-awesome.css';
@import 'virtual-select-plugin/dist/virtual-select.min.css';
@import "skeleton-screen-css";
@import "filepond/dist/filepond.min.css";
@import "flatpickr/dist/flatpickr.min.css";
@import "quill/dist/quill.snow.css";

.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  transition: 1s all;
}

.mfp-bg {}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}


/* overlay animate in */

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

/* overlay animate out */

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.4s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.feed-col {
  display: flex;
  align-items: stretch;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 0 0 50%;
  max-width: 50%;
}

.feed-col-title {
  display: none;
}

.instagram-feed-title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  border: .1rem solid #ebebeb;
  margin-bottom: 2rem;
  color: #333333;
}

  .instagram-feed-title i {
    display: inline-block;
    font-size: 2.4rem;
    line-height: 1;
    margin-bottom: 1rem;
}

  .instagram-feed-title p {
    margin-bottom: .5rem;
}
  .instagram-feed-title a {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: -.01em;
}

.instagram-feed-container {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 576px) {
  .intro-subtitle,
  .intro-text {
    font-size: 1.8rem; }

  .intro-subtitle {
    margin-bottom: 1rem; }

  .intro-title {
    font-size: 9.4rem; }

  .intro-text {
    margin-bottom: 2rem; }

  .feed-col {
    flex: 0 0 33.33%;
    max-width: 33.33%; } }
@media screen and (min-width: 768px) {
  .intro-content .btn {
    min-width: 140px; }

  .intro-subtitle,
  .intro-text {
    font-size: 2rem; }

  .intro-subtitle {
    margin-bottom: 0; }

  .intro-title {
    font-size: 11rem;
    margin-bottom: 3rem; }

  .intro-text {
    margin-bottom: 2.6rem; }

  .cta-title {
    font-size: 3rem; } }
@media screen and (min-width: 992px) {
  .intro-content .btn {
    min-width: 170px; }

  .intro-subtitle,
  .intro-text {
    font-size: 2.4rem; }

  .intro-subtitle {
    margin-bottom: 0; }

  .intro-title {
    font-size: 14rem;
    line-height: .55;
    margin-bottom: 4.3rem; }

  .intro-text {
    margin-bottom: 3.6rem; }

  .feed-col {
    flex: 0 0 20%;
    max-width: 20%; }

  .feed-col-title {
    display: flex; } }
@media screen and (min-width: 1200px) {
  .owl-theme .owl-nav [class*='owl-'] {
    width: 4rem;
    height: 4rem;
    font-size: 2.2rem;
    margin-top: -2rem; } }
@media screen and (max-width: 575px) {
  .cta .cta-wrapper .input-group {
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap; }
    .cta .cta-wrapper .input-group .form-control {
      width: 1%;
      margin-bottom: 0; }
    .cta .cta-wrapper .input-group .btn {
      margin-top: 0; } }

.notification {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1.3rem 0;
}

.notification .notify-content h3 {
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: .05em;
    color: #fff;
    margin-bottom: 0;
}

.notification .notify-action {
    position: absolute;
    right: 19%;
    top: 17%;
}

.notification .notify-action a {
    font-size: 1.6rem;
    letter-spacing: -.01em;
    color: #fff;
    line-height: 0;
}

// Rating
$stars: 5;
$star-size: 30px;
$star-spacing: 2px;
$star-on-color: #F9DF4A;
$star-off-color: #CCCCCC;

.rating {
	label {
		float: right;
		position: relative;
		width: $star-size;
		height: $star-size;
		cursor: pointer;

		&:not(:first-of-type) {
			padding-right: $star-spacing;
		}

		&:before {
			content: "\2605";
			font-size: $star-size + 2px;
			color: $star-off-color;
			line-height: 1;
		}
	}

	input {
		display: none;
	}

	input:checked ~ label:before,
	&:not(:checked) > label:hover:before,
	&:not(:checked) > label:hover ~ label:before {
		color: $star-on-color;
	}
}

/* Styles for desktop */
.desktop-logo {
    display: block !important; /* Show the desktop logo */
}

.mobile-logo {
    display: none !important; /* Show the mobile logo */
}

/* Styles for mobile */
@media (max-width: 767px) {
    .desktop-logo {
        display: none !important; /* Hide the desktop logo */
    }

    .mobile-logo {
        display: block !important; /* Show the mobile logo */
    }

    .navbar-container {
        padding: 1.3rem !important;
    }
}

.vscomp-toggle-button {
    height: 40px;
}

.input-group-text {
    font-size: 1.3rem;
    max-height: 40px;
}

.filepond--root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1.5rem;
}
